@(message: String)

@import helper.form
@main("Hello") {

    <div class="header">
        <h1 class="header-title">@message</h1>
        <p class="lead">Список гостей</p>
    </div>

    <table class="table table-bordered">
        <col width="150">
        <thead>
            <td>Имя</td>
            <td>Номер телефона</td>
            <td></td>
        </thead>
        <tbody>
            @for(guests <- Application.getAllGuests()) {
                @row(guests)
            }
            @form(routes.Application.addGuest()){
                <tr>
                    <td>
                        <input type="text" id="name" name="name" placeholder="Имя">
                    </td>
                    <td>
                        <input type="text" id="phone" name="phone" placeholder="+7-XXX-XXX-XX-XX" >
                    </td>
                    <td>
                        <input type="submit" value="Создать">
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <np />
    <np />
    <np />

    <div class="header">
        <p class="lead">Список ресторанов</p>
    </div>

    <table class="table table-striped">
        <col width="150">
        <thead>
            <td>Название ресторана</td>
            <td></td>
        </thead>
        <tbody>
            @for(resto <- Application.getAllResto()) {
                @rowResto(resto)
            }
            @form(routes.Application.addResto()){
                <tr>
                    <td>
                        <input type="text" id="Name" name="Name" placeholder="Название ресторана">
                    </td>
                    <td>
                        <input type="submit" value="Создать">
                    </td>
                </tr>
            }
        </tbody>
    </table>



}
