@(guest: Guest)



<tr>
  <td>
    @guest.getName()
  </td>
  <td>
    @guest.getPhone()
  </td>
  <td>
    <form method="GET" action="@routes.Application.showGuestCard(guest.getId())">
      <input type="submit" value="Смотреть/редактировать карточку" />
    </form>
  </td>
</tr>