@(resto: Resto)



<tr>
  <td>
   @resto.getName()
  </td>
  <td>
    <form method="GET" action="@routes.Application.showRestoCard(resto.getId())">
      <input type="submit" value="Смотреть/редактировать карточку" />
    </form>
  </td>
</tr>